Options -Indexes
ErrorDocument 404 /sparesautomotriz/notfound.html
ErrorDocument 403 /sparesautomotriz/accesodenegado.html

RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html